.footer {
  padding-top: 36px;
  @include lg-width {
    padding-top: 40px;
  }
  &-contact {
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    a {
      color: #ffffff;
    }
    .phone {
      margin-bottom: 19px;
    }
    
  }
  &-copyright {
    a {
      color: #ffffff;
    }
    .list-item {
      margin-right: 62px;
    }
    &-logo {
      margin-right: 38px;
    }
  }

  .icon {
    &-phone {
      width: 44px;
      height: 44px;
      margin-right: 17px;
    }
    &-mail {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }
    &-sns {
      @include lg-width {
        width: 24px;
        height: 24px;
      }
    }
  }
}
