.footer {
  padding-top: 36px;
  @include lg-width {
    padding-top: 40px;
  }
  &-contact {
    margin-bottom: 20px;
    @include md-width {
      margin-bottom: 24px;
    }
    a {
      color: #ffffff;
    }
    .phone {
      margin-bottom: 19px;
      @include md-width {
        margin-bottom: 8px;
      }
    }   
  }
  &-copyright {
    padding: 24px 0;
    border-top: 1px solid #ffffff;
    display: flex;
    align-items: center;
    @include md-width {
      flex-direction: row-reverse;
      padding: 18px 0;
      align-items: flex-end;
    }
    a {
      color: #ffffff;
    }
    .list-item {
      margin-right: 62px;
    }
    &-logo {
      margin-right: 38px;
      @include md-width {
        display: none;
      }
      @include md-width {
        display: block;
        margin: 0;
        width: 46px;
        height: 28px;
      }
    }
    &-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include md-width {
        flex-direction: column;
        align-items: start;
      }
    }
  }

  .icon {
    &-phone {
      width: 44px;
      height: 44px;
      margin-right: 17px;
      @include lg-width {
        width: 24px;
        height: 24px;
      }
      @include md-width {
        width: 20px;
        height: 20px;
      }
    }
    &-mail {
      width: 48px;
      height: 48px;
      margin-right: 12px;
      @include lg-width {
        width: 32px;
        height: 32px;
      }
      @include md-width {
        width: 20px;
        height: 20px;
      }
    }
    &-sns {
      @include lg-width {
        width: 24px;
        height: 24px;
      }
    }
  }
}
