.nav {
  font-size: $fsz-m; // 16
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  @include lg-width {
    width: 65.217391%;
    justify-content: space-around;
  }
  @include md-width {
    display: none;
  }
  &-item {
    @include lg-width {
      margin-right: 0;
    }
  }
  &-link {
    color: #fff;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 56px;
  @include md-width {
    padding: 0;
  }
  &-logo {
    @include md-width {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-nav {
    display: flex;
    flex-wrap: wrap;
    @include md-width {
      margin-left: 0;
      width: 100%;
    }
    .nav {
      &-link {
          font-size: $fsz-l; // 20
          padding: 40px 32px;
          @include md-width {
            display: block;
            padding: 8px;
            text-align: center;
          }
      }
      &-item{
        text-align: center;
        @include md-width {
          width: 50%;
          border: 1px solid #ffffff;
        }
      }
    }
  }
}

.logo {
  @include bg-cover;
  margin-left: 32px;
  height: 48px;
  width: 80px;
  @include hide-text;
  @include lg-width {
    margin-left: 0px;
  }
  @include md-width {
    height: 29.14px;
    width: 48px;
  }
}