.header {
  height: 840px;
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true');
  @include bg-cover;
  @include md-width {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true');
    height: 394px;
  }
}

.classic {
  &-img {
    width: 57.72727%;
    @include iPhone-width {
      width: 100%;
      position: relative;
    }
  }
  &-text {
    width: 42.27272%;
    padding: 0 30px;
    @include iPhone-width {
      position: absolute;
      padding: 0;
      filter: brightness(300);
      width: inherit;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  &-icon {
    margin-right: 8px;
    @include lg-width {
      width: 32px;
    }
  }
}