<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar bg-primary">
    <a class="navbar-logo" href="index.html">
      <h1 class="logo">Glasses</h1>
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="frames.html">系列鏡框</a></li>
      <li class="nav-item"><a class="nav-link" href="address.html">門市據點</a></li>
      <li class="nav-item"><a class="nav-link" href="blog.html">部落格</a></li>
      <li class="nav-item"><a class="nav-link" href="faq.html">常見問題</a></li>
    </ul>
  </nav>

  <%- contents %>

  <footer class="footer bg-primary">
    <div class="container">
      <div class="d-md-flex flex-md-row-reverse justify-md-space-between">
        <div class="d-flex mb-4 justify-space-between">
          <ul class="nav">
            <li class="nav-item mr-6"><a class="nav-link" href="index.html">首頁</a></li>
            <li class="nav-item mr-6"><a class="nav-link" href="frames.html">系列鏡框</a></li>
            <li class="nav-item mr-6"><a class="nav-link" href="address.html">門市據點</a></li>
            <li class="nav-item mr-6"><a class="nav-link" href="blog.html">部落格</a></li>
            <li class="nav-item"><a class="nav-link" href="faq.html">常見問題</a></li>
          </ul>
          <ul class="d-flex">
            <li class="mr-4">
              <a href="#">
                <img src="./assets/images/icon-fb.svg"
                     class="icon-sns"
                     alt="Facebook"
                     title="Facebook">
              </a>
            </li>
            <li class="mr-4">
              <a href="#">
                <img src="./assets/images/icon-ig.svg"
                     class="icon-sns"
                     alt="Instagram"
                     title="Instagram">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/icon-line.svg"
                     class="icon-sns"
                     alt="Line"
                     title="Line">
              </a>
            </li>
          </ul>
        </div>
        <ul class="footer-contact">
          <li class="phone d-flex align-items-center">
            <img class="icon-phone" src="./assets/images/icon-phone.svg"
                 alt="phone">
            <a class="h3" href="tel:+8860800000000">0800-000-000</a>
          </li>
          <li class="d-flex align-items-center">
            <img class="icon-mail" src="./assets/images/icon-mail.svg"
                 alt="mail">
            <a class="h3" href="mailto:glasses@business.com">glasses@business.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright">
        <img class="footer-copyright-logo" src="./assets/images/logo.png" alt="Glasses" title="Glasses">
        <div class="footer-copyright-text w-100">
          <p class="text-light">Copyright © 2020 Glasses.All rights reserved.</p>
          <ul class="d-flex flex-md-column">
            <li class="list-item"><a class="fsz-sm" href="#">隱私權政策</a></li>
            <li ><a class="fsz-sm" href="#">服務條款</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="./assets/js/all.js"></script>
</body>

</html>
