@for $var from 1 through 9 {
  .mt-#{$var} {
    margin-top: $var * $spacing;
  }
  .mr-#{$var} {
    margin-right: $var * $spacing;
  }
  .mb-#{$var} {
    margin-bottom: $var * $spacing;
  }
  .ml-#{$var} {
    margin-left: $var * $spacing;
  }
}
@for $var from 1 through 9 {
  .pt-#{$var} {
    padding-top: $var * $spacing;
  }
  .pr-#{$var} {
    padding-right: $var * $spacing;
  }
  .pb-#{$var} {
    padding-bottom: $var * $spacing;
  }
  .pl-#{$var} {
    padding-left: $var * $spacing;
  }
}