.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin: 0 auto;
}




/* display */
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}
.d-md-flex {
  @include md-width {
    display: flex;
  }
}


/* flex box */
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-md-column {
  @include md-width {
    flex-direction: column;
  }
}
.flex-sm-column {
  @include sm-width {
    flex-direction: column;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}


.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-md-row {
  @include md-width {
    flex-direction: row;
  }
}

.flex-md-row-reverse {
  @include md-width {
    flex-direction: row-reverse;
  }
}


.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}
.justify-content-md-start {
  @include md-width {
    justify-content: flex-start;
  }
}
.justify-space-between {
  justify-content: space-between;
}

.justify-md-space-between {
  @include md-width {
    justify-content: space-between;
  }
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-baseline {
  align-items: baseline;
}


/* order */
.lg-order-first {
  @include lg-width {
    order: -1;
  }
}

/* border */
.border {
  &-0 {
    border: 0 !important;
  }
  &-bottom-0 {
    border-bottom: 0 !important;
  }
}