// spacing
$spacing: 8px;

// fonts

$font-size-base: 16px; //16px



$fsz-4xl: $font-size-base * 4; //64px
$fsz-3xl: $font-size-base * 3; //48px
$fsz-xxl: $font-size-base * 2.25; //36px
$fsz-xl: $font-size-base * 1.5; //24px
$fsz-l: $font-size-base * 1.25; //20px
$fsz-m: $font-size-base; //16px

$fsz-s: $font-size-base * 0.875; //14px

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;;
$en-font-family: 'Roboto',sans-serif;
$tc-font-family: 'Noto Sans', sans-serif;

$line-height-base: 1.5;

// color
$primary: #AA0601;
$primary-dark: #650300;
$primary-light: #AA06010D;

$background-color-primary: $primary;
$background-color-light: $primary-light;

$text-dark: $primary-dark;
$text-light: #FFFFFF;

// grid
$xl-width: 1200px;
$lg-width: 992px; 
$md-width: 768px;
$sm-width: 568px; 
$xs-width: 375px; 
