.card{
  display: flex;
  flex-direction: column;
  width: 22.369%;
  @include lg-width {
    width: 48.6%;
    margin-bottom: 24px;
  }
  @include xs-width {
    width: 100%;
  }
  &-deck{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include lg-width {
      flex-wrap: wrap;
    }
  }

  &-title{
    padding-top: 14px;
    margin-bottom: 8px;
  }
  &-body {
    border-right: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
    border-left: 1px solid #DEE2E6;
    padding: 0px 16px 10px 16px;
  }
  &-image {
    // 響應式圖片
    @include img-responsive;
  }

  &-footer {
    color: $gray-300; // #707070
    border-right: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
    border-left: 1px solid #DEE2E6;
    padding-bottom: 15px;
    padding-left: 16px;
  }
 }