.card{
  &-deck{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  display: flex;
  flex-direction: column;
  width: 25%;
  @include lg-width {
    width: 50%;
  }
  @include md-width {
    width: 100%;
  }
  padding: 0 38px;
  // &-header{

  // }
  &-img {
    vertical-align: baseline;
  }
  // &-body{

  // }
  &-title{
    font-size: $fsz-xl;
    margin-bottom: 4px;
  }
  // &-text{

  // }
 }