.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 56px;
  &-nav {
    display: flex;
    .nav {
      &-link {
        padding:0 32px;
      }
    }
  }
}
