.nav {
  font-size: $h6-font-size; // 16
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  @include lg-width {
    width: 65.217391%;
    justify-content: space-around;
  }
  @include md-width {
    display: none;
  }
  &-item {
    @include lg-width {
      margin-right: 0;
    }
  }
  &-link {
    color: #fff;
  }
}